{#
/**
 * @file brightcove-video-player.html.twig
 * Default theme implementation to display Brightcove video player.
 *
 * This template is used when dispalying the Brightcove video player.
 *
 * Available variables:
 *   - account (string): Account ID.
 *   - data_usage (string): Module version indicator.
 *   - embed (string): Parent/child relationship, where parent is always
                       default, and child players has the ID of the parent
                       player.
 *   - height (int): Height of the player.
 *   - id (int): ID of the Brightcove video or playlist.
 *   - is_playlist (bool): Indicates whether it is a playlist player or a
                           single video player.
 *   - player (string): Player ID.
 *   - type (string): The type of the player, playlist or video.
 *   - units (string): The units for height and width.
 *   - video_id (string): Video ID.
 *   - width (int): Width of the player.
 *
 * @ingroup themeable
 */
#}
<div class="brightcove-player sizing-fixed">
  <video-js controls=""
    data-account="{{- account -}}"
    data-embed="{{- embed -}}"
    data-player="{{- player -}}"
    data-usage="{{- data_usage -}}"
    data-{{- type -}}-id="{{- id -}}"
    {% if units == 'px' or units is null %}
      height = "{{- height -}}" width = "{{- width -}}"
    {% else %}
      style="{{- width != null ? 'width:' ~ width ~ units : '' -}};{{- height != null ? 'height:' ~ height ~ units : '' -}};"
    {% endif %}
  ></video-js>
  {% if is_playlist %}
    <ol class="vjs-playlist"></ol>
  {% endif %}
  <script src="//players.brightcove.net/{{- account -}}/{{- player -}}_{{- embed -}}/index.min.js"></script>
</div>
